.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

section {
  height: 80vh;

}

.main-section {
  width: 95%;
  margin: 20px auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 12px;
}

.main-section h2 {
  text-align: start;
}

.messages {
  height: 360px;
  width: 100%;
  overflow: scroll;
}

form input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid grey;
  margin: 10px 0;
}

form button {
  display: block;
  padding: 8px 12px;
  background-color: rgb(24, 75, 243);
  color: white;
  font-weight: 700;
  border-radius: 3px;
}

.dummy {
  height: 100px;
}